.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  flex: 1;
}

.video-container {
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}