.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  flex: 1;
}

.video-container {
  position: relative;
}

.logs {
  width: 500px;
  border: 1px solid black;
  background-color: #cccc;
  margin-bottom: 30px;
  height: 200px;
  overflow-y: scroll;
}

.logs li {
  width: 100%;
  text-align: left;
  list-style: none;
  padding: 0;
}

.logs li:before {
  content: "\2192";
  margin-right: 10px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}